{% load bootstrap4 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}Кол Арын{% endblock %} - Алдын Кушкаш</title>
    <link type="image/png" sizes="16x16" rel="icon" href="../static/images/logo.png">

    <link rel="stylesheet" href="{% static 'fonts/ttbun___.TTF' %}">
    <link rel="stylesheet" href="{% static 'fonts/ttbui___.TTF' %}">
    <link rel="stylesheet" href="{% static 'fonts/ttbub___.TTF' %}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    {% bootstrap_javascript jquery='slim' %}
</head>
<body>
    <div class="container-fluid">
        <header class="row header">
            <div class="row brand">
                <p class="description" href="basic.html">
                    <img class="logo" src="../static/images/logo.svg" alt="Logo" width="35" height="35">
                    Тыва Республиканың уруглар сеткүүлү
                </p>
                <p class="nullplus">0+</p>
            </div>
            <span class="main-name">Алдын кушкаш</span>
            <div class= "row nav-login">
                <ul class = "col nav">
                    <li class="nav-item"><a class="nav-link" href="{% url 'home:register' %}">Регистрация</a> </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item dropdown ddm">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                                    aria-haspopup="true" aria-expanded="false">Пpoфиль</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{% url 'home:profile' %}">Moи объявления</a>
                                <a class="dropdown-item" href="{% url 'home:profile_change' %}">Изменить личные данные</a>
                                <a class="dropdown-item" href="{% url 'home:password_change' %}">Изменить пароль</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'home:logout' %}">Выйти</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'home:profile_delete' %}">Удалить</a>
                            </div>
                        </li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'home:login' %}">Вход</a></li>
                    {% endif %}
                </ul>
            </div>
        </header>
        <nav class="row menu">
            <ul class="row site-menu list-unstyled">
                <li><a class="root" href="{% url 'home:index' %}"><div class="menu-item">Кол арын</div></a></li>
                <li><a class="root" href="{% url 'home:about' page='about' %}"><div class="menu-item">Редакция</div></a></li>
                <li><a class="root" href="{% url 'home:contact' page='contact' %}"><div class="menu-item">Харылзажыры</div></a></li>
            </ul>
        </nav>
        <div class="row">
            <aside class="col-4 col-lg-2 nav flex-column sidebar">
                {% comment %}<span class="nav-link root font-weight-bold">Медээлер</span>
                <a class="nav-link" href="#">Делегейниң</a>
                <a class="nav-link" href="#">Алдын Кушкаштың</a>
                <a class="nav-link" href="#">Администрацияның</a>
                <span class="nav-link root font-weight-bold">Тоолдар</span>
                <a class="nav-link" href="#">Чоннуң тыва</a>
                <a class="nav-link" href="#">Орус улустуң</a>
                <a class="nav-link" href="#">Өске чоннарның</a>{% endcomment %}
                {% for rubric in rubrics %}
                    {% ifchanged rubric.super_rubric.pk %}
                        <span class="nav-link root font-weight-bold">{{ rubric.super_rubric.name }}</span>
                    {% endifchanged %}
                    <a class="nav-link" href="{% url 'home:by_rubric' pk=rubric.pk %}">{{ rubric.name }}</a>
                {% endfor %}
            </aside>
            <main class="col-8 col-lg-10 content">
                {% bootstrap_messages %}
                {% block content %}
                {% endblock %}
            </main>
        </div>
        <footer class="row footer">
            <p class="text-right font-italic">&copy; Алдын кушкаш. </p>
            <div> Автор иконок: <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/ru/" title="Flaticon">www.flaticon.com</a></div>
        </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
